<div class="container">
    <div class="holder">
        <div class="title">
            <img src="/test/antra.jpg">
            <h1>Login</h1>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput placeholder="User name">
        </mat-form-field>
        <div>
            <input type="text" placeholder="Password">
        </div>
        <button>Login</button>
        <p>No Accounts? Register Now!</p>
        <input type="checkbox">
        <label>Agree</label>
        <p>Need help?</p>
    </div>
</div>
