<div>
    <div>
        <h2>Appointment Detail</h2>
        <h3>Here is your visit</h3>
        <mat-card>
            <mat-card-subtitle>Verify the details of your visist</mat-card-subtitle>
            <mat-card-subtitle>Complete consnets and choose communication preferences</mat-card-subtitle>
            <mat-divider inset></mat-divider>
            <br>
            <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-title>Time</mat-card-title>
            <br>
            <mat-card-content>
              <h4>who </h4>
              <p>firstName Last</p>

              <h4>where: </h4>
              <p>Address</p>

              <h4>Before you start </h4>
              <p>If your're inactive for 15 minutes, we'll end this session and your changes won't be save</p>
            </mat-card-content>
            <mat-card-actions>
                <button>start check-in</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
